@import './reset.css';
@font-face {
    font-family: 'Monoton';
    src: url(../fonts/Monoton-Regular.ttf);
  }

@font-face{
    font-family: 'Gingham';
    src: url('../fonts/Gingham.woff2') format('woff2');
}

body{
    font-family: 'Gingham',sans-serif;
}
header{
    position: relative;
    background: linear-gradient(90deg,rgba(43, 65, 98,0.99),rgba(43, 65, 98,0.99)),
                    url("../images/background.jpg") center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15rem;
    text-align: center; 
    color: #fff;
}

header .name{
    font-size: 5rem;
    color: #fff;
    text-shadow: 0px 0px 1px #fff,
                  1px 1px 1px #000,
                  2px 2px 1px #fff,
                  3px 3px 1px #000;
    font-family: 'Gingham',sans-serif;
    font-weight: 900;
 }
 .header-content .code{
    font-size:  3rem;
    color: #fff;
 }
 .code.first{
    margin-left: -30rem;
 }
 .code.last{
    margin-right: -30rem;
 }
.header-content .text{
    display: block;
    font-size: 6rem;
    color: #fff;
    font-family: 'Gingham',sans-serif;
    font-weight: 900;              
    letter-spacing: 1rem;
    margin-right: -1rem; 
    
 }

 .floatingNav{
     padding: 0.8rem 0rem;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(43, 65, 98,1);
    z-index: 500;
 }
 .aboutBg{
    background-color: rgba(79, 99, 103,1);

 }
 .projectsBg{
    background-color:  rgba(104, 83, 105,1);
 }
 .contactsBg{
    background-color:  rgba(210,210,210,1);
    color: #000;
 }


.nav-list ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-link{
    transition: 0.5s;
}
.nav-list  li{
    cursor: pointer;
    font-size: 2rem; 
    padding: 1rem 5rem;
}
/* .nav-list  .nav-link:nth-child(2){
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 1px #000,
                2px 2px 1px #fff,
                3px 3px 1px #000;
    margin: 0 0.5rem;
} */
.nav-list  .nav-link:hover,.nav-list  .nav-link:focus{
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 1px #000,
                2px 2px 1px #fff,
                3px 3px 1px #000;
    outline:  transparent;
}
/* .nav-list  .nav-link:nth-child(2):hover, .nav-list  .nav-link:nth-child(2):focus{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    box-shadow: inset -1px -1px 1px #222,
                inset 2px 2px 1px #222;
} */




   /*///////////////////////////////////////////////////////////*/
section{
    min-height: 100vh;
    width: 100vw;
   
}

h1.title{
    text-align: center;
    font-weight: 900;
    font-family: 'Gingham',sans-serif;
    font-size: 4rem;
    padding:  3rem 0;
    color:rgb(55, 55, 71);

}

/* .light-color{
    color:#fff;
} */
/*/////////////////////////////////////////////////////////////////////////////////////////////*/
#projects{
    background: radial-gradient(circle , rgba(104, 83, 105,0.9),rgba(104, 83, 105,0.9)),
                    url("../images/background2.jpg") ;    

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0px;
    padding-top: 10rem;

}
.projects.title{
    color:#fcfcfc;
}
.projects-list{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.project{
    display: flex;
}
.project a{
    background: rgba(161, 181, 216,0.5);
    width: 70%;
    display: flex;
    margin: 2rem 0;
    transition: 0.3s;
    cursor:pointer;
    padding: 20px;
    color:rgb(255, 252, 247);

}
.project.right{
    justify-content: flex-end;
}
.project a:hover{
    transform-origin: center left;
    transform: scale(1.1);
}

.project.right a:hover{
    transform-origin: center right;
}

.project.unitCalculator a:hover{
    background: #1a6b64d7;
    color: #cef4f1;
}
.project.yoursInsights a:hover{
    background: #ed6b5acc;
    color: #fcdad6;
}
.project.insta a:hover{
    background: #0295F6;
    color: #bfe2fa;
}
.img-project{
    width: 35%;
    min-width: 180px;
    height: 150px;
    display:inline-block;
    filter: grayscale(0.7);
}
.project a:hover .img-project{
    filter: grayscale(0);
}
.project-info{
    display: inline-block;
    vertical-align: top;
    width: 74%;
    text-align: justify;
}
.project-title{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 ;
}
.project .icons{
    text-align: center;
}
.project-descp{
    padding: 1rem;
    font-size: 1.5rem;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
#about{
  background: linear-gradient(90deg,rgba(79, 99, 103,0.97),rgba(79, 99, 103,0.97)),
                    url("../images/background3.jpg") ;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0rem;
    letter-spacing: 0.05rem;
    padding-top: 10rem;

}

.about-content .text{
    font-size: 6rem;
    color: #fff;
    font-family: 'Gingham',sans-serif;
    font-weight: 900;              
    letter-spacing: 1rem;
    text-align: center;
}

.about.title{
    color:#fcfcfc;
}
.about-content{
   width: 100%;
   color:#fcfcfc;
   font-size: 1.6rem;

}

ul.languages, ul.intern,ul.work,ul.training,ul.skills{
    list-style:circle;
}
ul.languages li,ul.intern li,ul.work li,ul.training li,ul.skills li{
    margin-left: 5rem;
}
.about-content ul li div{
    margin: 1rem 0rem 0rem 3.5rem;
}
.about_subsection{
    margin: 5rem 0rem;
}
.about_subsection h3{
    border-bottom: 1px solid #fff;
    padding: 0.5rem 0rem;
    margin: 2rem 0rem;
}

.about_subsection h4{
    margin: 1rem 0rem;
}

.about-container{
   background-color:  rgba(210,210,210,0.1);
    display: flex;
    padding: 2rem;
}
.myPhoto{
    width: 50rem;
    margin-left: 2rem;
}



/*//////////////////////////////////*/

footer{
     height: 100vh;
    width: 100vw;
   background: radial-gradient(circle , rgba(210,210,210,0.9),rgba(200,200,200,0.9)),
                    url("../images/background2.jpg");    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
}

.contact-container .name{
    font-size: 48px;
    font-family: 'Monoton';
    font-weight: 200;
    word-spacing: 1rem;

}
.contact-container .phone{
    font-size: 30px;
}

.contact-container .email{
    font-size: 25px;
}

.contact-container .logos{
}

@media screen and (max-width:700px){
   #projects{
       padding: 0 0 50px 0;
   }
   
   .project,.project.right{
       justify-content: center;
    }
    .project.right a{
        flex-direction: column-reverse;
    }
    .project a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .project a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .project:hover{
        transform-origin: center center;
        transform: scale(1);
    }
}

@media screen and (max-width:400px){
    .code.first{
        margin-left: -25rem;
     }
     .code.last{
        margin-right: -25rem;
     }
    header .name{
    font-size: 4.5rem;
    }
    .header-content .text{
        font-size: 5rem;
    }
    .contact-container .name{
        font-size: 32px;
        font-family: 'Monoton';
        font-weight: 200;
        word-spacing: 1rem;
    
    }
}