@import './reset.css';
@font-face {
    font-family: 'Monoton';
    src: url(../fonts/Monoton-Regular.ttf);
  }

@font-face{
    font-family: 'Gingham';
    src: url('../fonts/Gingham.woff2') format('woff2');
}

header{
    position: relative;
    background: linear-gradient(90deg,rgba(0 ,0,0,0.99),rgba(10,10,10,0.99)),
                    url("../images/background.jpg") center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header-content{
   position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%) ;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

header .name{
    font-size: 5rem;
    color: #fff;
    text-shadow: 0px 0px 1px #fff,
                  1px 1px 1px #000,
                  2px 2px 1px #fff,
                  3px 3px 1px #000;
    font-family: 'Gingham',sans-serif;
    font-weight: 900;
 }
 .header-content .code{
    font-size:  3rem;
    color: #fff;
 }
 .code.first{
    margin-left: -30rem;
 }
 .code.last{
    margin-right: -30rem;
 }
.header-content .text{
    display: block;
    font-size: 6rem;
    color: #fff;
    font-family: 'Gingham',sans-serif;
    font-weight: 900;              

 }


.nav-list ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-list  li{
    cursor: pointer;
    font-size: 2rem; 
    padding: 1rem 5rem;
    transition: 0.5s;
}
.nav-list  li:nth-child(2){
     background-color: #fff;
    color: #000;
}
.nav-list  li:hover{
    background-color: #fff;
    color: #000;
}
.nav-list  li:nth-child(2):hover{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}




   /*///////////////////////////////////////////////////////////*/
section{
    height: 100vh;
    width: 100vw;
    background:url('../images/back.jpeg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}


/*//////////////////////////////////*/

footer{
    height: 100vh;
    width: 100vw;
    background:url('../images/background.jpg') center ;
    background-size: cover;
}